<div class="media mb-2">
    <div class="mr-3">
        <div class="evo-type-text">
            <%=data.evoType %>
        </div>
        <%=getGearImg(type, data) %>
    </div>
    <div class="media-body">
        <div class="row mt-3">
            <div class="col-4">
                <div class="float-left">
                    COST
                </div>
                <div class="text-right">
                    <%=data.cost %>
                </div>
            </div>
            <div class="col-8">
                <div class="float-left">
                    type
                </div>
                <div class="text-right">
                    <%=data.type %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                ATK
            </div>
            <div class="col">
                <div id="detailAtk" class="text-right">
                    <% 
                    switch (data.category) {
                        case 1: %>
                        <%=data.shortAtkMax %>
                            <%break;
                        case 2: %>
                                <%=data.longAtkMax %>
                                    <%break;
                        default:break;
                    }
                     %>
                </div>
            </div>
            <div class="col-auto">
                <div id="detailAttr" class="text-right">
                    <% 
                        switch (data.category) {
                            case 1: %>
                        <%=Ui.renderAttrText(data.shortAttrMax) %>
                            <%break;
                            case 2: %>
                                <%=Ui.renderAttrText(data.longAttrMax) %>
                                    <%break;
                            default:break;
                        }
                         %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gearExtraInfo">
    <div class="card mb-2">
        <div class="card-header" data-toggle="collapse" data-target="#collapseDesc">
            Description
        </div>
        <div id="collapseDesc" class="collapse show" data-parent="#gearExtraInfo">
            <div class="card-body">
                <%=Ui.renderDesc(data.desc) %>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header" data-toggle="collapse" data-target="#collapseEvo">
            Evolve
        </div>
        <div id="collapseEvo" class="collapse" data-parent="#gearExtraInfo">
            <div class="card-body p-2">
                <div class="form-row">
                    <div class="col">
                        <div id="collapseEvoFrom">
                            <% _.each(data.evoFrom,function(o,i){ %>
                                <div class="card">
                                    <div class="card-header py-2 px-3" data-toggle="collapse" data-target="#collapseEvoFrom<%=o.id %>">
                                        <%=o.name %>
                                    </div>
                                    <div id="collapseEvoFrom<%=o.id %>" class="collapse" data-parent="#collapseEvoFrom">
                                        <div class="card-body p-2">
                                            <div class="media">
                                                <div class="mr-2 text-center">
                                                    <div class="evo-type-text">
                                                        <%=o.evoType %>
                                                    </div>
                                                    <%=getGearImg(type, o, true) %>
                                                        <div class="evo-type-text">
                                                            <%=o.name %>
                                                        </div>
                                                </div>
                                                <div class="media-body">
                                                    <%=Ui.renderDesc(data.evoDesc) %>
                                                </div>
                                            </div>
                                            <% _.each(data.evoPattern,function(o,i){ %>
                                                <div class="form-row">
                                                    <div class="col-6 col-lg-3">
                                                        <%=i %>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style='width: <%=Math.min(o,50) %>%;'>
                                                                <%=o*2 %>%</div>
                                                            <div class="progress-bar bg-warning" role="progressbar" style='width: <%=Math.max(o-50,0) %>%;'></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <div class="form-row">
                                                        <div class="col text-center">
                                                            <% _.each(o.evoMaterials,function(o,i){ 
                                                                        //var catalog=Data.get("catalog",i);
                                                                        var material=o[0];%>
                                                                <div class="item-container" data-toggle="tooltip" data-html="true" title="<%-'<b>'+material.name+'</b><br />'+Ui.renderDesc(material.desc) %>">
                                                                    <img class="icon icon-item" src="<%='../img/item/' + (material.icon || 'itm2_04_000_01') + '.png' %>" />
                                                                    <span class="item-count">
                                                                        <%=o[1] %>
                                                                            <span>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div class="d-none col-auto text-center">
                        <div class="evo-type-text">
                            <%=data.evoType %>
                        </div>
                        <%=getGearImg(type, data) %>
                            <div class="evo-type-text">
                                <%=data.name %>
                            </div>
                    </div>
                    <div class="col">
                        <div id="collapseEvoTo">
                            <% _.each(data.evoTo,function(o,i){ %>
                                <div class="card">
                                    <div class="card-header py-2 px-3" data-toggle="collapse" data-target="#collapseEvoTo<%=o.id %>">
                                        <%=o.name %>
                                    </div>
                                    <div id="collapseEvoTo<%=o.id %>" class="collapse" data-parent="#collapseEvoTo">
                                        <div class="card-body p-2">
                                            <div class="media">
                                                <div class="mr-2 text-center">
                                                    <div class="evo-type-text">
                                                        <%=o.evoType %>
                                                    </div>
                                                    <%=getGearImg(type, o, true) %>
                                                        <div class="evo-type-text">
                                                            <%=o.name %>
                                                        </div>
                                                </div>
                                                <div class="media-body">
                                                    <%=Ui.renderDesc(data.evoDesc) %>
                                                </div>
                                            </div>
                                            <% _.each(data.evoPattern,function(o,i){ %>
                                                <div class="form-row">
                                                    <div class="col-6 col-lg-3">
                                                        <%=i %>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style='width: <%=Math.min(o,50) %>%;'>
                                                                <%=o*2 %>%</div>
                                                            <div class="progress-bar bg-warning" role="progressbar" style='width: <%=Math.max(o-50,0) %>%;'></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <div class="form-row">
                                                        <div class="col text-center">
                                                            <% _.each(o.evoMaterials,function(o,i){ 
                                                                        //var catalog=Data.get("catalog",i);
                                                                        var material=o[0];%>
                                                                <div class="item-container" data-toggle="tooltip" data-html="true" title="<%-'<b>'+material.name+'</b><br />'+Ui.renderDesc(material.desc) %>">
                                                                    <img class="icon icon-item" src="<%='../img/item/' + (material.icon || 'itm2_04_000_01') + '.png' %>" />
                                                                    <span class="item-count">
                                                                        <%=o[1] %>
                                                                            <span>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>