html {
    height: 100%;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    height: 100%;
}

.panel-heading {
    cursor: pointer;
}

#main {
    padding-top: 56px;
    position: relative;
}

.attr-text.attr-normal {}

.attr-text.attr-thunder {
    color: #fad558
}

.attr-text.attr-gravity {
    color: #c485fd
}

.attr-text.attr-fire {
    color: #fe8691
}

.attr-text.attr-ice {
    color: #92e8fe
}

.attr-text.attr-light {}

.attr-text.attr-collapse {}

.attr-text.attr-theory {}

.evo-type-text {
    white-space: nowrap;
    text-align: center;
    line-height: 1rem;
    font-size: 0.75rem;
    min-height: 1rem;
}

.evo-container {
    width: 6rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem 0;
}

.evo-container.evo-container-current {
    background: #ccc;
}

/* icons */

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

.icon.icon-version {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
    vertical-align: middle;
    background-image: url(./img/version.png);
}

.icon.icon-gear {
    width: 4rem;
    height: 4rem;
}

.icon-gear-container {
    display: inline-block;
    position: relative;
}

.icon-gear-container a, .icon-gear-container a:hover {
    text-decoration: none;
}

.icon-gear-container .icon-gear-memoca-container {
    position: absolute;
    top: 0;
    right: 0;
}

.icon-gear-container .icon-gear-memoca-container .memoca-slot {
    width: 5px;
    height: 12px;
    margin-top: 12px;
    margin-right: 1px;
    background: black;
    border-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-width: 1px 0 1px 1px;
}

.icon.icon-item {
    width: 4rem;
    height: 4rem;
}

.item-container {
    display: inline-block;
    margin-right: 0.25rem;
    text-align: center;
    position: relative;
}

.item-container:last-of-type {
    margin-right: 0;
}

.item-container .item-count {
    position: absolute;
    bottom: 0;
    right: 0.25rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #000;
    font-size: 0.9rem;
}