body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.attr-text.attr-normal {}

.attr-text.attr-thunder {
    color: #fad558
}

.attr-text.attr-gravity {
    color: #c485fd
}

.attr-text.attr-fire {
    color: #fe8691
}

.attr-text.attr-ice {
    color: #92e8fe
}

.attr-text.attr-light {}

.attr-text.attr-collapse {}

.attr-text.attr-theory {}
